*
{
    margin: 0;
}

.menu
{
    display: flex;
    width: 960px;
    height: 50px;
    margin: 0 auto;
    font: 19px/32px Georgia;
}

.menu ul 
{
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
    height: 50px;
}

.menu a 
{
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    color: #333;
    background-color: #fff;
}

.menu li
{
    display: inline-block;
    height: 50px;
}

.menu li:hover
{
    background-color: #15a98b;
}

.menu a:hover
{
    color: #f5f5f5;
    background-color: #15a98b;
}

.me
{
    display: block;
    width: 95px;
    height: 41px;
    position: relative;
    padding-left: 45px;
    padding-top: 8px;	
}

.me:before
{
    content: url("../images/about_me_icon.png");
    display: block;
    position: absolute;
    left: 21px;
    top: 9px;
}

.me:hover:before
{
    content: url("../images/about_me_icon2.png");
    display: block;
    position: absolute;
    left: 21px;
    top: 9px;
}

.hobby
{
    display: block;
    position: relative;
    width: 120px;
    height: 41px;
    padding-left: 41px;
    padding-top: 7px;
}

.hobby:before
{
    content: url("../images/hobby_icon.png");
    display: block;
    position: absolute;
    left: 15px;
    top: 9px;
}

.hobby:hover:before
{
    content: url("../images/hobby_icon2.png");
    display: block;
    position: absolute;
    left: 15px;
    top: 9px;
}

.video
{
    display: block;
    position: relative;
    width: 180px;
    height: 41px;
    padding-left: 35px;
    padding-top: 7px;
}

.video:before
{
    content: url("../images/video_icon.png");
    display: block;
    position: absolute;
    left: 10px;
    top: 8px;
}

.video:hover:before
{
    content: url("../images/video_icon2.png");
    display: block;
    position: absolute;
    left: 10px;
    top: 8px;
}

.main
{
    display: flex;
	flex-basis: auto;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    width: 1920px;
    background: url(../images/background.png) no-repeat;
    background-position-y: 50px;
}

article
{
    display: block;
    width: 960px;
    margin: 0 auto;
    margin-top: 210px;
}

.top_block
{
    display: block;
    width: 960px;
    height: 350px;
    margin-bottom: 8px;
}

.photo
{
    display: block;
    float: left;
    width: 330px;
    height: 350px; 
    margin-right: 60px;
    border-radius: 5px;
}

.quote
{
    display: block;
    width: 560px;
    height: 300px;
    margin-top: 24px;
    float: left;
} 

blockquote
{
    display: block;
    font: italic 28px/42px Georgia;
    color: #fff;
    margin: 0;
}

cite
{
    display: block;
    color: #f5f5f5;
    font: 600 16px/42px Open Sans, sans-serif;
    font-style: normal;
    padding-left: 5px;
    padding-top: 3px;
}
	
.like
{
    display: block;
    width: 330px;
    float: left;
    padding-top: 17px;	
}

.writer
{
    display: block;
    margin-bottom: 42px;
}

.information
{
    display: block;
    width: 573px;
    float: right;
}

.rectangl
{
    display: block;
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background-color: #45c3aa;
}

.status	
{
    display: block;
    color: #555;
    font: 19px/32px Georgia;
    margin-bottom: 43px;	
}

.clear
{
    display: block;
    clear: both;
}

.name
{
    display: block;
    color: #333;
    font: 700 48px/42px Open Sans, sans-serif;
    margin-top: 81px;
    margin-bottom: 32px;
}

.likewriter
{
    font: 600 24px/32px Open Sans, sans-serif;
    color: #15a98c;
    padding-top: 20px;
    margin-bottom: 10px;
}

.likefilm
{
    font: 600 24px/32px Open Sans, sans-serif;
    color: #15a98c;
    margin-bottom: 10px;
}

.my_hobby
{
    font: 400 36px/42px Open Sans, sans-serif;
    color: #333;
    margin-bottom: 14px;
}

li
{
    font: 19px/36px Georgia;
    color: #555;
}

.like ul
{
    display: block;
    padding-left: 22px;
    padding-top: 3px;
    margin-top: 0;
}

ol
{
    display: block;
    margin-top: 12px;
    padding-left: 20px;	
}

.volley
{
    font: 19px/32px Georgia;
    color: #555;
    display: block;
    margin-bottom: 42px;
}

.link
{
    position: relative;
    font: 19px/32px Georgia;
    color: #15a98b;
    right: -2px;
}

.link:after
{
    content: "→";
    font: 19px/32px Georgia;
    color: #15a98b;
    display: block;
    position: absolute;
    right: -25px;
    top: -4px;
}

.background
{
    width: 1920px;
    margin: 0 auto; 
    background-color: #f9f9f9;
    margin-top: 56px; 
    padding-bottom: 60px;   	
}

.film
{
    display: block;
    width: 1202px;
    margin: 0 auto;
    margin-top: 36px;
    margin-bottom: 52px;
}

.my_film
{
    display: block;
    font: 400 36px/42px Open Sans, sans-serif;
    color: #333;
    margin-bottom: 32px;
}

.description
{
    width: 285px;
    font: 16px/28px Georgia;
    color: #555;
}

.my_movi
{
    font: 700 22px/32px Open Sans, sans-serif;
    color: #333;
    padding-top: 10px;
    padding-bottom: 18px;
    margin-top: 10px;
}

.movies
{
    display: flex;
	flex-basis: auto;
    flex-flow: row wrap;
}

.movie 
{
    width: 285px;
    padding-right: 20px;	  
}

.movie:last-of-type
{
    padding-right: 0;
}

.img_movie1, .img_movie2, .img_movie3, .img_movie4 
{
    width: 285px;
    height: 190px;
    border-radius: 4px;
    background-color: #464646;
}

.green_button
{
    display: block;    
    width: 220px;
    height: 30px;
    background-color: #15a98b;
    border: none;
    border-radius: 5px;
    color: #f5f5f5;
    font: 19px/32px Georgia;
    padding: 0;
    margin-left: 840px;
	text-decoration: none;
    text-align: center;
    padding-top: 10px;
	padding-bottom: 10px;
}

.green_button:hover
{
    background-color: #098d72;
}

.conteiner
{
    display: block;
	width: 1920px;
    margin: 0 auto;  
}

.write_me
{
    display: block;
	width: 712px;
    margin: 0 auto;  
}

.form_head
{
	color: #333333;
    text-transform: uppercase;
    font: 300 36px/1.2 Open Sans;
    margin-top: 45px;
    margin-bottom: 68px;
}

.form_head:before, .form_head:after 
{
    content: '';
    display: inline-block;
    width: 200px;
    vertical-align: middle;
	padding-bottom: 5px;
    border-top: 1px solid #c4c4c4;  
}

.form_head:before
{
    margin-right: 27px;
}

.form_head:after
{
    margin-left: 23px;
}

.form
{
    width: 542px;
	margin: 0 auto;
	margin-bottom: 48px;
}

label
{
    font: 400 20px/1.6 Open Sans;
}

.star
{
	color: red;
	padding-left: 5px;
}

.input_field:focus, .message:focus, .country:focus
{
	border-color: #15a98c;
}

.input_field
{
    margin: 4px 0 22px 1px;
    font: 400 18px/1.6 Open Sans;
    padding-left: 17px;
}

.where
{
    display: block;
    margin-top: 2px;
}

input[name="name"], input[name="email"]
{
    width: 519px;
    height: 44px;
    border: 2px solid #c9c9c9;
    border-radius: 2px;
}

.country
{
    width: 540px;
    height: 50px;
    font: 400 18px/1.8 Open Sans;
    color: #555; 
    border: 2px solid #c9c9c9;
    border-radius: 2px;
    margin: 5px 0 42px 1px;
    padding-left: 16px;
    padding-bottom: 1px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/arrow_down.png) no-repeat 498px 18px;
}

.gender
{
    margin: 4px 0 36px 0;
}

label[for="male"], label[for="female"]
{
    font: 400 18px/1.8 Open Sans;
}

#male
{
    margin-left: 1px;
    margin-right: 4px;
}

#female
{
    margin-left: 36px;
	margin-right: 4px;
}

.message
{
    width: 526px;
    height: 136px;
    border: 2px solid #c9c9c9;
    border-radius: 2px;
    font: 400 18px/1.6 Open Sans;
    padding: 5px;
	margin-top: 2px;
	resize: none;
}

.submit
{
    width: 220px;
    height: 50px;
    color: #fff;
    font: 400 19px Georgia;
    line-height: 50px;
    background: #15a98c;
    border-radius: 5px;
    margin: 45px 0 0 1px;
    border: none;
}

footer
{
    height: 70px;
    width: 1920px;
    background-color: #f9f9f9;
    margin: 0 auto;
}

.footer-text
{
    display: block;
    width: 734px;
    height: 49px;
    margin: 0 auto;
    padding-top: 20px;
    font: 16px/32px Georgia;
    color: #555;	
}

